.logo {

  display: flex;
  align-items: center;
}

.logo img {
  max-height: 55px;
}

.logo span {
  color: aliceblue;
  font-weight: bold;
  font-size: 15px;
  /* font-family: cursive; */
}

.logo a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  transition: background-color 0.3s ease-in-out;
}

.navbar.blurred {
  background-color: rgba(255, 255, 255, .5)b;
  backdrop-filter: blur(10px);
}

.navbar {
  background: transparent;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar__item {
  height: 80px;
  font-weight: bold;
}

/* .navbar__item:active {
  border-bottom: 2px solid #fff;
} */

.navbar__links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  text-decoration: none;
  height: 100%;
  transition: all 0.3s ease;
}

.navbar__links:hover {
  color: #9518fc;
  transition: all 0.3s ease;
  transform: translateY(-2px);
}

@media screen and (max-width: 960px) {
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
  }

  .navbar__menu.active {
    background: #1c1b1b;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 60vh;
    font-size: 1.6rem;
  }

  #navbar__logo {
    padding-left: 25px;
  }

  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease;
    background: #e7e4e4;
  }

  .navbar__item {
    width: 100%;
  }

  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
    color: #fff;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

.my-heading {
  margin: 30px;
}

.my-heading h1 {
  font-size: 50px;
}

/* Search box */

.search-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  margin: 0 auto;
}

#search-input {
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  margin-right: 10px;
}

#search-button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #0077cc;
  color: #fff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

#search-button:hover {
  background-color: #005fa3;
}


/* carousels container */


/* card containers styles */

.ag-format-container {
  width: 1200px;
  margin: 0 auto;
}

.ag-courses_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  padding: 50px 0;
}

.ag-courses_item {
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  flex-basis: calc(33.33333% - 30px);

  margin: 0 15px 30px;

  overflow: hidden;

  border-radius: 28px;

}

.ag-courses-item_link {
  display: block;
  padding: 30px 20px;
  background-color: #121212;
  text-decoration: none;

  overflow: hidden;

  position: relative;
}

.ag-courses-item_link:hover {
  text-decoration: none;
  color: #FFF;
  transition: all 0.3s ease;
  transform: translateY(-5px);
}

.ag-courses-item_link:hover .ag-courses-item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}

.ag-courses-item_title {
  min-height: 87px;
  margin: 0 0 25px;

  overflow: hidden;

  font-weight: bold;
  font-size: 30px;
  color: #FFF;

  z-index: 2;
  position: relative;
}

.ag-courses-item_bg {
  height: 128px;
  width: 128px;
  background-color: #f9b234;

  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;

  border-radius: 50%;

  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
  background-color: #3ecd5e;
}

.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
  background-color: #e44002;
}

.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
  background-color: #952aff;
}

.ag-courses_item:nth-child(5n) .ag-courses-item_bg {
  background-color: #cd3e94;
}

.ag-courses_item:nth-child(6n) .ag-courses-item_bg {
  background-color: #4c49ea;
}



@media only screen and (max-width: 979px) {
  .ag-courses_item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }

  .ag-courses-item_title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}

@media only screen and (max-width: 639px) {
  .ag-courses_item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }

  .ag-courses-item_title {
    min-height: 72px;
    line-height: 1;

    font-size: 24px;
  }

  .ag-courses-item_link {
    padding: 22px 40px;
  }

  .ag-courses-item_date-box {
    font-size: 16px;
  }
}

.card-action {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.button {
  padding: 10px 20px;
  background-color: #0077ff;
  color: #faf8f8;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  z-index: 2;
  position: relative;
}

.button:hover {
  background-color: #0062cc;
  z-index: 2;
  position: relative;
}

/* Footer Styles */

.footer {
  background-color: transparent;
  padding: 40px 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__links {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 20px;
}

.footer__links li {
  color: #a5a5a6;
  display: inline-block;
  margin-right: 10px;
}

.footer__links a {
  color: #eff1f4;
  text-decoration: none;
}

.footer__links a:hover {
  text-decoration: underline;
}

.footer__copy {
  color: #a5a5a6;
  font-size: 14px;
}


/* Responsive Styles */

@media screen and (min-width: 768px) {
  .footer__content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }

  .footer__links {
    margin-bottom: 0;
  }

  .footer__links li {
    margin-right: 20px;
  }

  .footer__copy {
    margin-left: auto;
    margin-right: 0;
  }
}

@media screen and (min-width: 1024px) {
  .footer__content {
    padding: 40px;
  }

  .footer__links li {
    margin-right: 30px;
  }

  .footer__copy {
    font-size: 16px;
  }
}